body {
    min-height: 100vh;
    background-image: url("./images/tetrisback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.center {
    background-color: blue;
    border-radius: 5px;
    padding: 30px;
}

.currsite {
    background-color: blue;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    a {
        padding: 10px;
        background-color: skyblue;
        display: block;
        max-width: 10ch;
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    background-color: yellow;
}

img {
    width: 400px;
}
